.padding-left-right{
    padding-left: 60px;
    padding-right: 50px;
}

.mySlides{
    width: 100%;
    height 100%;
}

.w3-container{
    padding: 2% 7%;
}

.first{
    font-family: 'Cormorant Garamond', serif;
    font-size: 62px;
    padding-bottom: 8%;
}

.header{
    font-family: 'Cormorant Garamond', serif;
    font-size: 62px;
    padding-bottom: 7.5%;
    padding-left: 50.5%;
    color: #80A3FD; 
}

.header2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 62px;
    padding-bottom: 7%;
    padding-left: 51%;
    color: #FDC5A4;
}


/* Full screen image for background */
body, html {
    height: 100%;
}

.fs-img { 
    /* The image used */
    background-image: url("/img/Giraffe2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}